@charset "UTF-8";
/* Colores */
/* Tipografías */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h2,
.hero__content p {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase; }

.mobile-menu,
.desktop-menu {
  display: none; }

.hero {
  background-image: url("../../public/img/mobile/image-hero.jpg");
  background-size: cover;
  min-height: 80vh; }
